<div class="container">
	

	<div class="">
		<h4><%= @user.first_name %>'s profil !</h4>
		<div class="maine-info">
			<p>Name : <%= @user.first_name %> <%= @user.last_name %></p>
			<p>Email : <%= @user.email %></p>
			<p>Subscried on : <%= @user.created_at.to_s.split[0...-1].join(" ") %></p>
			<p>Description : <%= @user.description %></p>
		</div>
	</div>

	<%= link_to "Edit email / password", edit_user_registration_path, class: 'btn btn-warning' %>

</div>

<div class="container">
	<p>Your events</p>
	<% @user.events.each do |event| %>
	<a href="<%= event_path(event.id) %>">
	<div class="unique-envent mt-2 mb-2 border">
		<p>Title : <%= event.title %></p>
		<p>Location : <%= event.location %></p>
		<p>Start date : <%= event.start_date %></p>
	</div></a>
	<% end %>
</div>