<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<p>The creator : <%= @event.user.first_name %> <%= @event.user.last_name %></p>
			<p></p>
			<p>The event</p>
			<p>Title : <%= @event.title %></p>
			<p>Location :  <%= @event.location %></p>
			<p>Start date :  <%= @event.start_date %></p>
			<p>Duration : <%= @event.duration %></p>
			<p>Price :  <%= @event.price %></p>
			<p>Description :  <%= @event.description %></p>
			</div>
		</div>
	</div>